
/* start magic  */

.magic{
  height: 100vh;
  position: relative;
}
.magic button{
  margin: 50px auto ;
  background: #f9fc3d;
  margin: 20px;
  display: block;
  font-weight: bold;
  padding: 10px 25px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
}
.magic .boxes{
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.magic .box{
  width: 125px;
  height: 125px;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  background: url(../images/random/5.jpg);
  background-size: 500px 500px;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.magic .boxes.big .box{
  transform: rotateZ(360deg);

}
.magic .boxes.big{
  width: 600px;
  height: 600px;
}
.magic .box::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  background: yellow;
  left: 100%;
  top:5px;
  transform: skewY(50deg);
}
.magic .box::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background: rgb(252, 252, 132);
  top: 100%;
  right:-5px;
  transform: skewX(50deg);
}